*{
    background-color: seashell;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.h-h1{
    text-align: center;
}
.box-1{
    width: 300px;
    height: 200px;
    background-color:#262626 ;
    border: 2px soild springgreen;
    padding: 20px;
    margin: 40px;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}
.box-1 h1{
 text-align: center;
 font-size: 30px;
 border-radius: 5px;
}

.box-1 p{
    padding: 10px;
}
.box-1:nth-child(2n+1){
    background-color: greenyellow;
}
.box-1:nth-child(2n){
    background-color: springgreen;
}
h3{
    text-align: center;

}  
.box-1:hover:nth-child(2n){
    background-color:ghostwhite;
    }
.box-1:hover:nth-child(2n+1){
background-color: skyblue;
}